<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="app">
    <div class="app-header-base">
      <div class=app-header>
        <div class="breadcrumbs">
          <span>Личный кабинет</span>
          <span>Оборудование</span>
        </div>
        <div class="header-title">
          <div>Оборудование</div>
          <div class=count>12</div>
        </div>
      </div>
    </div>
    <div class="app-content-base">
      <div class="app-content">
        <div class="app-left-column">
          <div class=app-nav>
            <div class="title">Роль</div>
            <ul>
              <li><input type="checkbox">Пользователь</li>
              <li><input type="checkbox">Владелец</li>
              <li><input type="checkbox">Пользователь и владелец</li>
            </ul>
            <div class="title">Тип</div>
            <ul>
              <li><input type="checkbox">Монитор</li>
              <li><input type="checkbox">Компьютер</li>
              <li><input type="checkbox">Телефон</li>
            </ul>
          </div>
        </div>
        <div class="app-right-column">
          <div class="column header">
            <div class="search"><input type="text" placeholder="Поиск" /></div>
          </div>
          <div class="column content">
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="status blue">Я пользователь</div>
              <div class="title">
                <img src="images/svg/monitor.svg" />
                <span>Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black</span>
              </div>
              <div class="details">
                <div class="details-item">
                  <div class="details-title">Серийный номер</div>
                  <div class="details-value">3CQ212089W</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код ЕСН</div>
                  <div class="details-value">478.451.000044</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Код СА</div>
                  <div class="details-value">052641</div>
                </div>
                <div class="details-item">
                  <div class="details-title">Инвентарный номер</div>
                  <div class="details-value">052641</div>
                </div>
              </div>
              <hr />
              <div class="info">
                <div class="left">
                  <div class="info-title">Последняя активность</div>
                  <div class="info-date">01.01.2019</div>
                </div>
                <div class="right">
                  <div class="info-title">Устройство у сотрудника</div>
                  <div class="info-name">Антонов В. И.</div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
</body>

</html>